In [1]:
import pandas as pd
data = pd.read_csv('adult.data.csv', header=None)
data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [2]:
data.columns = ['age', 'workclass', 'fnlwgt', 'education', 'education_num',
              'marital_status', 'occupation', 'relationship', 'race', 'sex',
              'capital_gain', 'capital_loss', 'hours_per_week', 'native_country', 'income']

In [3]:
data.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

1. How many men and women (sex feature) are represented in this dataset?

In [4]:
sex_counts = data['sex'].value_counts()
sex_counts

 Male      21790
 Female    10771
Name: sex, dtype: int64

2. What is the average age (age feature) of women?

In [5]:
avg_age_women = data.loc[data['sex'] == 'Female', 'age'].mean()
avg_age_women

nan

In [6]:
data['sex'][0]

' Male'

In [7]:
data['sex'][4]

' Female'

In [10]:
avg_age_women = data.loc[data['sex'] == ' Female', 'age'].mean()
avg_age_women

36.85823043357163

3. What is the percentage of German citizens (native-country feature)?

In [11]:
german_citizens_count = len(data.loc[data['native_country'] == 'Germany'])
total_count = len(data)
percentage_german_citizens = (german_citizens_count / total_count) * 100
percentage_german_citizens

0.0

In [12]:
data['native_country'][0]

' United-States'

In [13]:
german_citizens_count = len(data.loc[data['native_country'] == ' Germany'])
total_count = len(data)
percentage_german_citizens = (german_citizens_count / total_count) * 100
percentage_german_citizens

0.42074874850281013

4-5. What are mean value and standard deviation of the age of those who recieve more than 50K per year (salary feature) and those who receive less than 50K per year?

In [25]:
rich_mean, rich_std = data.loc[data['income'] == ' >50K', 'age'].mean(), data.loc[data['income'] == ' >50K', 'age'].std()
poor_mean, poor_std = data.loc[data['income'] == ' <=50K', 'age'].mean(), data.loc[data['income'] == ' <=50K', 'age'].std()
print("Age statistics for those who earn more than 50K per year:")
print("Mean age: {:.2f} years".format(rich_mean))
print("Standard deviation of age: {:.2f} years".format(rich_std))
print("\nAge statistics for those who earn less than or equal to 50K per year:")
print("Mean age: {:.2f} years".format(poor_mean))
print("Standard deviation of age: {:.2f} years".format(poor_std))

Age statistics for those who earn more than 50K per year:
Mean age: 44.25 years
Standard deviation of age: 10.52 years

Age statistics for those who earn less than or equal to 50K per year:
Mean age: 36.78 years
Standard deviation of age: 14.02 years

6. Is it true that people who receive more than 50k have at least high school education? (education - Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters or Doctorate feature)

In [26]:
high_income_education_counts = data.loc[data['income'] == ' >50K', 'education'].value_counts()
high_income_education_counts

 Bachelors       2221
 HS-grad         1675
 Some-college    1387
 Masters          959
 Prof-school      423
 Assoc-voc        361
 Doctorate        306
 Assoc-acdm       265
 10th              62
 11th              60
 7th-8th           40
 12th              33
 9th               27
 5th-6th           16
 1st-4th            6
Name: education, dtype: int64

7. Display statistics of age for each race (race feature) and each gender. Use groupby() and describe(). Find the maximum age of men of Amer-Indian-Eskimo race.

In [31]:
# Display statistics of age for each race and gender
age_stats = data.groupby(['race', 'sex'])['age'].describe()
print(age_stats)

# Find the maximum age of men of Amer-Indian-Eskimo race
max_age = data.loc[(data['race'] == ' Amer-Indian-Eskimo') & (data['sex'] == 'Male'), 'age'].max()
print("Maximum age of men of Amer-Indian-Eskimo race: ", max_age)

                               count       mean        std   min   25%   50%  \
race                sex
 Amer-Indian-Eskimo  Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                     Male      192.0  37.208333  12.049563  17.0  28.0  35.0
 Asian-Pac-Islander  Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                     Male      693.0  39.073593  12.883944  18.0  29.0  37.0
 Black               Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                     Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
 Other               Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                     Male      162.0  34.654321  11.355531  17.0  26.0  32.0
 White               Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                     Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

                               75%   max
race                sex
 Amer-Indian-Eskimo  Female  46.00  80.0
                     Male    45.00  82.0
 Asian-Pac-Islander  Female  43.75  75.0
                     Male    46.00  90.0
 Black               Female  46.00  90.0
                     Male    46.00  90.0
 Other               Female  39.00  74.0
                     Male    42.00  77.0
 White               Female  46.00  90.0
                     Male    49.00  90.0
Maximum age of men of Amer-Indian-Eskimo race:  nan

(有錯) 8. Among whom the proportion of those who earn a lot(>50K) is more: among married or single men (marital-status feature)? Consider married those who have a marital-status starting with Married (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.

In [44]:
def classify_marital_status(status):
    if status.startswith('Married'):
        return 'Married'
    else:
        return 'Single'

In [43]:
# Apply the function to the marital-status column
data['marital_status'] = data['marital_status'].apply(classify_marital_status)

# Group the data by marital status and salary
grouped = data.groupby(['marital_status', 'income'])['age'].count()

# Display the results
print("Number of individuals in each group based on marital status and income:")
print(grouped)

Number of individuals in each group based on marital status and income:
marital_status  income
Single           <=50K    24720
                 >50K      7841
Name: age, dtype: int64

9. What is the maximum number of hours a person works per week (hours-per-week feature)? How many people work such a number of hours and what is the percentage of those who earn a lot among them?

In [47]:
# Find the maximum number of hours a person works per week
max_hours = data['hours_per_week'].max()

# Count the number of people who work such a number of hours
num_people = data.loc[data['hours_per_week'] == max_hours].shape[0]

# Calculate the percentage of those who earn a lot among them
rich_percent = (data.loc[(data['hours_per_week'] == max_hours) & (data['income'] == '>50K')].shape[0] / num_people) * 100

# Display the results
print("Maximum number of hours a person works per week: {}".format(max_hours))
print("Number of people who work such a number of hours: {}".format(num_people))
print("Percentage of those who earn a lot among them: {:.2f}%".format(rich_percent))

Maximum number of hours a person works per week: 99
Number of people who work such a number of hours: 85
Percentage of those who earn a lot among them: 0.00%

10. Count the average time of work (hours-per-week) those who earning a little and a lot (salary) for each country (native-country).

In [48]:
# Group the data by native country, salary, and calculate the mean hours per week
grouped = data.groupby(['native_country', 'income'])['hours_per_week'].mean()

# Display the results
print("Average time of work (hours_per_week) for each country and salary:")
print(grouped)

Average time of work (hours_per_week) for each country and salary:
native_country  income
 ?               <=50K    40.164760
                 >50K     45.547945
 Cambodia        <=50K    41.416667
                 >50K     40.000000
 Canada          <=50K    37.914634
                            ...
 United-States   >50K     45.505369
 Vietnam         <=50K    37.193548
                 >50K     39.200000
 Yugoslavia      <=50K    41.600000
                 >50K     49.500000
Name: hours_per_week, Length: 82, dtype: float64